<div class="comment">
<p><b>Autor:</b> <%= comment.author %></p>
<div><b>Body:</b>
  <%= comment.body %>
</div>
<span class="miniButton">
  <%= link_to "Delete", [@fortune, comment], :confirm => 'Are you sure?', :method => :delete %></span><span class="miniButton">
  <%= link_to 'Edit', edit_fortune_comment_path(@fortune, comment) %>
</span>
</div>
